<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SteamDesktopAuth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SteamDesktopAuth.Properties.Settings>
            <setting name="bAskForPassword" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bCheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bSendStatistics" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bMinimizedNotificationShown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bStartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
        </SteamDesktopAuth.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>